{% extends "template.html" %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2>Create a Todo</h2>

        <div class="row">
            <div class="twelve columns">
                <h3 style="color: red">{{error}}</h3>
                <h6>content: </h6>
                <input name="content">
            </div>
        </div>
        <div class="row">
            <input type="submit" name="submit" value="Add todo">
        </div>

    </form>
</div>
{% endblock %}